<div class="helpline-container">
    <h3 class="text-center">Add New Content</h3>
    <mat-form-field>
      <input matInput placeholder="Headline">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Description"></textarea>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Headline Number">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Website Link">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="File Online Complaint Link">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Twitter Link">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Facebook Link">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Instagram Link">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Whats app Link">
    </mat-form-field>

    <div class="example-button-row">
        <button (click)="goBack()" mat-flat-button>Cancel</button>
        <button mat-flat-button color="primary">
          Post
        </button>
      </div>

  </div>
