<div class="trending-news-container">
  <h3 class="text-center">Update News</h3>
  <form [formGroup]="formGroup" class="form" (ngSubmit)="onTrendingNewsUpdate()">
    <mat-form-field>
      <input matInput placeholder="Headline" formControlName="headline">
        <mat-error *ngIf="!formGroup.controls['headline'].valid
          && formGroup.controls['headline'].touched">
          {{ titleAlert }}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Embed Youtube Video" formControlName="embedYoutubeVideo"></textarea>
      <mat-error *ngIf="!formGroup.controls['embedYoutubeVideo'].valid
        && formGroup.controls['embedYoutubeVideo'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Select Topic" formControlName="topic">
          <mat-option *ngFor="let topicData of topicList$ | async" [value]="topicData.name">
            {{ topicData.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!formGroup.controls['topic'].valid
          && formGroup.controls['state'].touched">
          {{ titleAlert }}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="State" formControlName="state">
          <mat-option *ngFor="let state of states" [value]="state.name">
              {{ state.name }}
          </mat-option>
      </mat-select>
      <mat-error *ngIf="!formGroup.controls['state'].valid
        && formGroup.controls['state'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="accent"
          style="margin-bottom: 15px"
          routerLink="./manage-client">Manage Client</button>

    <mat-form-field appearance="legacy">
      <mat-select placeholder="Search Client" formControlName="searchClient">
        <mat-option *ngFor="let clientData of clientList$ | async" [value]="clientData._id">
          {{ clientData.name }}
        </mat-option>
      </mat-select>
      <mat-icon matSuffix>search</mat-icon>
      <mat-error *ngIf="!formGroup.controls['searchClient'].valid
        && formGroup.controls['searchClient'].touched">
        {{ titleAlert }}
      </mat-error>
    </mat-form-field>

    <div class="example-button-row">
        <button (click)="goBack()" mat-flat-button>Cancel</button>
        <button mat-flat-button color="primary" type="submit">
          Update
        </button>
    </div>
  </form>
</div>
