<div class="trending-news-container">
    <div class="trending-news-header">
        <mat-form-field *ngIf="isMobile$ | async">
            <mat-label>Select State</mat-label>
            <mat-select>
              <mat-option *ngFor="let state of states" [value]="state.name">{{ state.name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="primary"
          routerLink="./topics">Topics</button>
          <button
            mat-mini-fab
            routerLink="./add"
            matTooltip="Add Trending News"
          >
            <i class="material-icons">add</i>
          </button>
    </div>
   <div class="trending-news-card-wrapper">
      <div
      *ngFor="
        let trendingNewsData of trendingNewsList; let i = index; let odd = odd"
      [style.margin]="odd ? '10px 0px 10px 0px' : '10px 10px 10px 0px'"
    >
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ trendingNewsData.description }}</mat-card-title>
          <mat-card-subtitle>{{ trendingNewsData.createdOn }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="assets/Youtube Player.png"
          alt="Youtube Player"
        />
        <mat-card-actions>
          <button mat-raised-button [routerLink]="['edit', trendingNewsData.id]" color="accent">Edit</button>
          <button mat-raised-button color="warn" (click)="onDeleteTrendingNews(i)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
   </div>
</div>
