.example-card {
  max-width: 350px;
  padding-bottom: 0;
}

.example-header-image {
  background-image: url('../../../../assets/wire.png');
  background-size: cover;
}

.trending-news-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trending-news-header{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}

.trending-news-card-wrapper{
  display: flex;
  margin: 20px 20px 65px 20px;
  flex-wrap: wrap;
  justify-content: center;
}
