@import '../../../styles-variables';
mat-toolbar {
    position: relative;
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;

    fa-icon {
      font-size: 24px;
    }

    .app-title {
        text-align: center;
        color: #ffffff;
        font-size: 36px !important;
        font-family: 'Berkshire Swash', cursive !important;
        margin: 0 !important;
        line-height: 38px !important;
        padding-left: 50px;
      }
  }