<main  class="animation-container" style="display: flex">
  <span class="transition-icons" style="left: -45px;">
    <i class="material-icons font-size-60" 
       style="position: absolute;left: 30px;top: 15px;color: #a4a4a4c9">
      chevron_left
    </i>
  </span>
  <div class="pane-width pane-background">
    <campusrope-left-pane></campusrope-left-pane>
  </div>
  <div class="width-100">
      <router-outlet></router-outlet>
  </div>
  <div class="pane-width pane-background"> 
    <campusrope-right-pane></campusrope-right-pane>
  </div>
  <span class="transition-icons" style="right: -45px;"> 
    <i class="material-icons font-size-60"
       style="position: absolute;right: 30px;top: 15px;color: #a4a4a4c9">
      chevron_right
    </i>
  </span>
</main>