<main  class="main-stage" style="display: flex" [@fadeRouter]="o.activatedRouteData">
  <span *ngIf="isDesktop$ | async" class="transition-icons" style="left: -45px;" (click)="navigateToDirection(-1)">
    <i class="material-icons font-size-60" 
       style="position: absolute;left: 30px;top: 15px;color: #a4a4a4c9">
      chevron_left
    </i>
  </span>
  <div class="pane-width pane-background" *ngIf="isDesktop$ | async">
    <campusrope-left-pane></campusrope-left-pane>
  </div>
  <div class="width-100"   
      (swipeleft)="navigateToDirection(-1)"
      (swiperight)="navigateToDirection(1)">
      <router-outlet #o="outlet"></router-outlet>
  </div>
  <div class="pane-width pane-background" *ngIf="isDesktop$ | async"> 
    <campusrope-right-pane></campusrope-right-pane>
  </div>
  <span *ngIf="isDesktop$ | async" class="transition-icons" style="right: -45px;" (click)="navigateToDirection(1)"> 
    <i class="material-icons font-size-60"
       style="position: absolute;right: 30px;top: 15px;color: #a4a4a4c9">
      chevron_right
    </i>
  </span>
</main>