.pane-width{
    width: 35%; 
}

.transition-icons{
    position: fixed;
    top: 40%;
    background-color: #ffffff;
    border-radius: 43%;
    height: 85px; 
    width: 80px;
    cursor: pointer;
}

.pane-background{
    background: #CDCDCD;
}

mat-drawer-container {
    height: 100%;
  }

.main-stage {
    position: fixed;
    width:100%;
    height: 100%;
    top:54px;// height of appbar;
}