<main  class="main-stage" style="display: flex" [@fadeRouter]="o.activatedRouteData">
  <span class="left-btn">
    <img src="assets/left-icon.png" alt="">
  </span>
  <div class="pane-width pane-background">
    <campusrope-left-pane></campusrope-left-pane>
  </div>
  <div class="width-100 center-pane-background">
      <router-outlet #o="outlet"></router-outlet>
  </div>
  <div class="pane-width pane-background">
    <campusrope-right-pane></campusrope-right-pane>
  </div>
  <span class="right-btn" (click)="rightChevClicked()">
      <img src="assets/right-icon.png" alt="">
  </span>
</main>
