.pane-width{
    width: 35%;
}

.left-btn{
    left: -45px;
    position: absolute;
    right: 94.44%;
    top: 30%;
    border-radius: 43%;
    height: 85px;
    width: 80px;
    cursor: pointer;
    background: #FFFFFF;
    transform: rotate(-180deg);
}

.right-btn{
  position: absolute;
  right: -45px;
  top: 30%;
  border-radius: 43%;
  height: 85px;
  width: 80px;
  cursor: pointer;
  background: #FFFFFF;
  transform: rotate(-180deg);
}

.left-btn img{
  position: absolute;
  left: 13.35%;
  top: 30.69%;
  transform: rotate(-180deg);
}

.right-btn img{
  position: absolute;
  right: 14.96%;
  top: 30.33%;
  bottom: 0%;
  transform: rotate(-180deg);
}

.pane-background{
    background: #CDCDCD;
}

.center-pane-background{
  background: #EDEDED;
}

mat-drawer-container {
    height: 100%;
  }

.main-stage {
    position: fixed;
    width:100%;
    height: 100%;
    top:54px;// height of appbar;
}

.center-pane{
    display: flex;
    align-items: center;
    justify-content: center;
}

.layout-container {
  position: absolute;
  top: 54px;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-sidenav {
  width: 15%;
  min-width: 200px;
  max-width: 300px;
}