<div class="home-menu-container" style="margin-top: 50px">
  <button
    mat-raised-button
    class="home-menu-btn"
    [routerLink]="'/trending-news'"
  >
    <img src="assets/trending_news.svg" alt="Trending News" />
    <span>Trending News</span>
  </button>
  <button mat-raised-button class="home-menu-btn" [routerLink]="'/feed'">
    <img src="assets/feeds.svg" alt="Feeds" />
    <span>Feeds</span>
  </button>
  <button mat-raised-button class="home-menu-btn" [routerLink]="'/helpline'">
    <img src="assets/helpline.svg" alt="Helpline" />
    <span>Helpline</span>
  </button>
  <!-- <button mat-raised-button class="home-menu-btn" [routerLink]="'/admin/trending-news'">
    <img src="assets/helpline.svg" alt="Helpline" />
    <span>Admin Trending News</span>
  </button> -->
</div>
