.trending-news-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.trending-news-container > * {
  width: 100%;
}

.example-button-row{
  display: flex;
  justify-content: space-between;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.text-center {
  text-align: center;
}

