@import '../styles-variables';

.theme-wrapper {
  height: 100%;
  width: 100%;
}
.stage {
  display: absolute;
  top:64px;
  width:100%;
}

.app-sidenav {
  width: 15%;
  min-width: 200px;
  max-width: 300px;
}