<h1 mat-dialog-title>Add Client</h1>
<form [formGroup]="formGroup" class="form">
    <div mat-dialog-content>
          <mat-form-field style="width: 100%">
              <input matInput placeholder="Topic Name" formControlName="name">
              <mat-error *ngIf="!formGroup.controls['name'].valid">
                  {{ titleAlert }}
              </mat-error>
          </mat-form-field>
          <mat-form-field style="width: 100%">
            <input matInput placeholder="Logo Url" formControlName="logoUrl">
            <mat-error *ngIf="!formGroup.controls['logoUrl'].valid">
                {{ titleAlert }}
            </mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancelClick()">Cancel</button>
      <button mat-button cdkFocusInitial (click)="onSaveClient()">Add</button>
    </div>
</form>
