<div class="manage-client-wrapper">
  <h3>Manage Client</h3>
  <button mat-raised-button color="accent">Add Clients</button>
  <div class="list-wrapper-repeat">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>The Wire</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-icon aria-hidden="false" style="margin-left: 15px">delete</mat-icon>
  </div>
  <div class="list-wrapper-repeat">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>The Quint</mat-card-title>
      </mat-card-header>
    </mat-card>
    <mat-icon aria-hidden="false" style="margin-left: 15px">delete</mat-icon>
  </div>  
</div> 