<div class="helpline-wrapper">
  <mat-form-field style="margin: 20px 0">
    <mat-label>Select State</mat-label>
    <mat-select>
      <mat-option>None</mat-option>
      <mat-option value="option1">Option 1</mat-option>
      <mat-option value="option2">Option 2</mat-option>
      <mat-option value="option3">Option 3</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-accordion style="margin: 20px 0;width: 80%">
      <mat-expansion-panel class="helpline-accordion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Consumer Protection
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="expansion-panel-desc">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Ratione fugiat debitis temporibus eius eveniet sit deleniti culpa? Explicabo pariatur
          quibusdam eaque consectetur accusamus architecto totam deserunt, doloribus nostrum esse
          culpa.
        </p>

        <div style="display:flex;flex-direction:column">
          <div class="helpline-content-btn ">
            <span>
              Helpline Number
            </span>
            <h2>
              1800-234-534
            </h2>
          </div>
          <div class="helpline-content-btn ">
            <span>
              Website
            </span>
            <h5>
              <a href="#">
                https://gama.gov
              </a>
            </h5>
          </div>

          <div class="helpline-content-btn ">
            <span style="color: #FF0000">
              File Online Complaints
            </span>
            <h5>
              <a href="#">
                https://gama.gov
              </a>
            </h5>
          </div>


          <div style="display:flex; justify-content: center;margin-top: 10px;">
            <img src="assets/facebook.png"/>
            <img src="assets/twitter.png"/>
            <img src="assets/instagram.png"/>
            <img src="assets/whatsapp.png"/>
          </div>

        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion style="margin: 20px 0;width: 80%">
      <mat-expansion-panel class="helpline-accordion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Advertising Standards Council
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="expansion-panel-desc">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Ratione fugiat debitis temporibus eius eveniet sit deleniti culpa? Explicabo pariatur
          quibusdam eaque consectetur accusamus architecto totam deserunt, doloribus nostrum esse
          culpa.
        </p>

        <div style="display:flex;flex-direction:column">
          <div class="helpline-content-btn ">
            <span>
              Helpline Number
            </span>
            <h2>
              1800-234-534
            </h2>
          </div>
          <div class="helpline-content-btn ">
            <span>
              Website
            </span>
            <h5>
              <a href="#">
                https://gama.gov
              </a>
            </h5>
          </div>

          <div class="helpline-content-btn ">
            <span style="color: #FF0000">
              File Online Complaints
            </span>
            <h5>
              <a href="#">
                https://gama.gov
              </a>
            </h5>
          </div>


          <div style="display:flex; justify-content: center;margin-top: 10px;">
            <img src="assets/facebook.png"/>
            <img src="assets/twitter.png"/>
            <img src="assets/instagram.png"/>
            <img src="assets/whatsapp.png"/>
          </div>

        </div>

      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion style="margin: 20px 0;width: 80%">
      <mat-expansion-panel class="helpline-accordion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            All in one Emergency Number
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="expansion-panel-desc">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Ratione fugiat debitis temporibus eius eveniet sit deleniti culpa? Explicabo pariatur
          quibusdam eaque consectetur accusamus architecto totam deserunt, doloribus nostrum esse
          culpa.
        </p>

        <div style="display:flex;flex-direction:column">
          <div class="helpline-content-btn ">
            <span>
              Helpline Number
            </span>
            <h2>
              1800-234-534
            </h2>
          </div>
          <div class="helpline-content-btn ">
            <span>
              Website
            </span>
            <h5>
              <a href="#">
                https://gama.gov
              </a>
            </h5>
          </div>

          <div class="helpline-content-btn ">
            <span style="color: #FF0000">
              File Online Complaints
            </span>
            <h5>
              <a href="#">
                https://gama.gov
              </a>
            </h5>
          </div>


          <div style="display:flex; justify-content: center;margin-top: 10px;">
            <img src="assets/facebook.png"/>
            <img src="assets/twitter.png"/>
            <img src="assets/instagram.png"/>
            <img src="assets/whatsapp.png"/>
          </div>

        </div>

      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion style="margin: 20px 0;width: 80%">
      <mat-expansion-panel class="helpline-accordion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Women's Helpline
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="expansion-panel-desc">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Ratione fugiat debitis temporibus eius eveniet sit deleniti culpa? Explicabo pariatur
          quibusdam eaque consectetur accusamus architecto totam deserunt, doloribus nostrum esse
          culpa.
        </p>

        <div style="display:flex;flex-direction:column">
          <div class="helpline-content-btn ">
            <span>
              Helpline Number
            </span>
            <h2>
              1800-234-534
            </h2>
          </div>
          <div class="helpline-content-btn ">
            <span>
              Website
            </span>
            <h5>
              <a href="#">
                https://gama.gov
              </a>
            </h5>
          </div>

          <div class="helpline-content-btn ">
            <span style="color: #FF0000">
              File Online Complaints
            </span>
            <h5>
              <a href="#">
                https://gama.gov
              </a>
            </h5>
          </div>


          <div style="display:flex; justify-content: center;margin-top: 10px;">
            <img src="assets/facebook.png"/>
            <img src="assets/twitter.png"/>
            <img src="assets/instagram.png"/>
            <img src="assets/whatsapp.png"/>
          </div>

        </div>

      </mat-expansion-panel>
    </mat-accordion>

    <mat-accordion style="margin: 20px 0;width: 80%">
      <mat-expansion-panel class="helpline-accordion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Indian Railway
          </mat-panel-title>
        </mat-expansion-panel-header>

        <p class="expansion-panel-desc">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Ratione fugiat debitis temporibus eius eveniet sit deleniti culpa? Explicabo pariatur
          quibusdam eaque consectetur accusamus architecto totam deserunt, doloribus nostrum esse
          culpa.
        </p>

        <div style="display:flex;flex-direction:column">
          <div class="helpline-content-btn ">
            <span>
              Helpline Number
            </span>
            <h2>
              1800-234-534
            </h2>
          </div>
          <div class="helpline-content-btn ">
            <span>
              Website
            </span>
            <h5>
              <a href="#">
                https://gama.gov
              </a>
            </h5>
          </div>

          <div class="helpline-content-btn ">
            <span style="color: #FF0000">
              File Online Complaints
            </span>
            <h5>
              <a href="#">
                https://gama.gov
              </a>
            </h5>
          </div>


          <div style="display:flex; justify-content: center;margin-top: 10px;">
            <img src="assets/facebook.png"/>
            <img src="assets/twitter.png"/>
            <img src="assets/instagram.png"/>
            <img src="assets/whatsapp.png"/>
          </div>

        </div>

      </mat-expansion-panel>
    </mat-accordion>

</div>
