.pane-width{
    width: 35%; 
}

.transition-icons{
    position: fixed;
    top: 45%;
    background-color: lavender;
    border-radius: 50%;
    cursor: pointer;
}

.pane-background{
    background: #CDCDCD;
}