<app-navbar (toggleSidenav)='toggleSidenav()'></app-navbar>
<app-layout [isMobile]='isMobile$ | async' [showSidenav]='showSidenav$ | async'
            (openedChangeSidenav)="openedChangeSidenav($event)">
  <app-sidenav-page sidenav></app-sidenav-page>
  <main [@fadeRouter]="o.activatedRouteData" class="animation-container" style="display: flex">
    <span class="transition-icons" style="left: -15px;">
      <i class="material-icons font-size-50">chevron_left</i>
    </span>
    <div class="pane-width">
      <campusrope-left-pane></campusrope-left-pane>
    </div>
    <router-outlet #o="outlet"></router-outlet>
    <div class="pane-width">
      <campusrope-right-pane></campusrope-right-pane>
    </div>
    <span class="transition-icons" style="right: -15px;"> 
      <i class="material-icons font-size-50">chevron_right</i>
    </span>
  </main>
</app-layout> 
