<article>
  <mat-card class="responsive-card height-100 no-margin center-pane-background"> 
    <div class="home-menu-container"> 
      <button mat-raised-button>
          <img src="assets/trending_news.svg" alt="Trending News">
          Trending News
      </button>
      <button mat-raised-button>
        <img src="assets/feeds.svg" alt="Feeds">
        Feeds
      </button>
      <button mat-raised-button>
        <img src="assets/helpline.svg" alt="Helpline">
        Helpline
      </button>
    </div> 
  </mat-card>
</article>
