/* You can add global styles to this file, and also import other style files */
@import "./styles-variables";

@import "../node_modules/bootstrap/scss/bootstrap-reboot";
@import "../node_modules/bootstrap/scss/bootstrap-grid";
@import "styles-reset";

@import "../node_modules/@angular/material/theming";

@include mat-core();

@import "./themes/default-theme";
@import "./themes/light-theme";
@import "./themes/black-theme";
@import "./themes/nature-theme";

@import "styles-reset.scss-theme";
@import "./app/app.component.scss-theme";
@import "./app/features/home/home.component.scss-theme.scss";

@mixin custom-components-theme($theme) {
  @include app-styles-reset-theme($theme);
  @include app-app-component-theme($theme);
  @include app-home-component-theme($theme);
}

.default-theme {
  @include angular-material-theme($app-theme);
  @include custom-components-theme($app-theme);
}

.light-theme {
  @include angular-material-theme($app-light-theme);
  @include custom-components-theme($app-light-theme);
}

.black-theme {
  @include angular-material-theme($app-black-theme);
  @include custom-components-theme($app-black-theme);
}

.nature-theme {
  @include angular-material-theme($app-nature-theme);
  @include custom-components-theme($app-nature-theme);
}

/* For the "inset" look only */

/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(27, 26, 26, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}
